.wrapper {
  width: 25%;
  display: flex;
  font-size: 14px;
  flex-wrap: wrap;
  margin-left: 80px;

  .socials1 {
    display: flex;
    flex-direction: column;
    width: 100%;

    .a {
      display: flex;
      flex-direction: row;
      margin-bottom: 7px;
      transition: all .5s;

      .text {
        padding-top: 3px;
        padding-left: 5px;
      }
    }
  }

  .a:hover {
    font-size: 16px;
  }

  .socials2 {
    display: flex;
    flex-direction: row;

    .icon {
      padding: 7px 7px;
      margin-top: 15px;
      margin-bottom: 5px;
      margin-right: 8px;
      transition: all .3s;
    }

    .icon:hover {
      border: 1.3px solid rgb(255, 255, 255);
      border-radius: 9px;
      transition: all .5s;
    }
  }
}
