.wrapper {
  padding: 40px;
  gap: 16px;
  max-width: 1280px;
  border-radius: var(--radius-xl);

  @media (width < 1280px) {
    padding: 20px;
    gap: 8px;
  }

  @media (width < 980px) {
    padding: 20px 12px;
  }
}
