:root {
  --radius-xl: 24px;
  --radius-lg: 16px;
  --radius-md: 12px;
  --radius-sm: 8px;
  --radius-xs: 4px;
  --animation-duration: 250ms;
  --nav-bar-width: 248px;
  --header-height: 80px;
  --border-width: 1px;
}
