.wrapper {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.border {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  border: var(--border-width) solid var(--dark-80);
  border-radius: var(--radius-sm);
  background-color: var(--dark-100);

  &.error {
    border-color: var(--red-100);
  }
}

.quill {
  display: flex;
  flex-direction: column;
  width: 100%;
  z-index: 2;
  position: relative;
}

.label {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: var(--dark-70);
  padding: 0 var(--padding-md);

  &.error {
    opacity: 1;
  }
}

.error {
  color: var(--red-100);

  &::placeholder {
    color: var(--red-10);
  }
}
