.wrapper {
  display: inline-flex;
  float: left;
  height: 100%;
  align-items: center;
  margin-left: auto;

  .link {
    font-size: 1rem;
    text-decoration: none;
    color: #ffffff;
    padding: 40px;
    padding-top: 35px;
    padding-bottom: 30px;
    white-space: nowrap;
    height: 100%;

    &:hover {
      background: #3989ec;
      transition: 0.5s;
      color: #fff;
    }
  }

}
