.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: var(--dark-30);
  border: var(--border-width) solid var(--dark-80);
  border-radius: var(--radius-sm);
  width: 150px;
  height: 40px;
  cursor: pointer;
}
