.wrapper {
  display: flex;
  width: 100%;
  background: #005da9;
  height: 90px;
  color: #ffffff;

  img {
    margin-top: 4px;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    margin-left: 120px;

    li {
      float: left;
      position: relative;

      a {
        display: block;
        font-size: 1rem;
        text-decoration: none;
        color: #ffffff;
        padding: 20px;
        padding-top: 35px;
        padding-bottom: 30px;

        &:hover {
          background: #3989ec;
          transition: 0.5s;
          color: #fff;
        }
      }
    }
  }
}

.block {
  display: block;
}

.container {
  display: flex;
}

.row {
  flex-direction: row;
}
