.wrapper {
  display: flex;
  width: 100%;
  background: #005da9;
  height: 90px;
  color: #ffffff;

  img {
    margin-top: 4px;
  }

  ul {
    margin: 0;
    margin-top: -50px;
    padding: 0;
    list-style-type: none;
    margin-left: 200px;

    li {
      float: left;
      position: relative;

      a {
        font-size: 1rem;
        text-decoration: none;
        color: #ffffff;
        padding: 40px;
        padding-top: 35px;
        padding-bottom: 30px;

        &:hover {
          background: #3989ec;
          transition: 0.5s;
          color: #fff;
        }
      }
    }
  }
}

.block {
  height: 80px;
  margin-top: -10px;
  margin-left: 1100px;
}

.emblem {
  height: 80px;
}

.container {
  display: flex;
}

.row {
  flex-direction: row;
}
