:root {
  --red-100-rgb: 185, 33, 33;
  --red-30-rgb: 236, 177, 177;
  --red-20-rgb: 241, 211, 211;
  --red-10-rgb: 248, 233, 233;
  --red-100: rgb(var(--red-100-rgb));
  --red-30: rgb(var(--red-30-rgb));
  --red-20: rgb(var(--red-20-rgb));
  --red-10: rgb(var(--red-10-rgb));
}
