.wrapper {
  min-height: 100%;
  gap: 0;
}

.controls {
  grid-column: 1 / -1;
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 10px 16px;
  margin-top: auto;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.divider {
  content: " ";
  border-bottom: var(--border-width) solid var(--dark-20);
}
