.wrapper {
  display: inline-flex;
}

.h1 {
  font-size: 32px;
  line-height: 36px;

  @media (width < 980px) {
    font-size: 24px;
    line-height: 32px;
  }
}

.h2 {
  font-size: 24px;
  line-height: 32px;

  @media (width < 980px) {
    font-size: 20px;
    line-height: 28px;
  }
}

.h3 {
  font-size: 20px;
  line-height: 28px;

  @media (width < 980px) {
    font-size: 18px;
    line-height: 26px;
  }
}

.h4 {
  font-size: 18px;
  line-height: 26px;

  @media (width < 980px) {
    font-size: 16px;
    line-height: 24px;
  }
}

.bold {
  font-weight: 700;
}

.semibold {
  font-weight: 600;
}

.normal {
  font-weight: normal;
}
