.wrapper {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;

  @media (width < 980px) {
    form {
      width: 100%;
    }
  }
}

.street {
  width: 400px;

  @media (width < 980px) {
    width: 100%;
  }
}

.entrance {
  width: 250px;

  @media (width < 980px) {
    width: 100%;
  }
}

.home {
  width: 250px;

  @media (width < 980px) {
    width: 100%;
  }
}
