.wrapper {
  color: rgb(var(--header-foreground-rgb));
  background: rgb(var(--header-background-rgb));
  margin: 16px 0;
  width: 300px;

  .list {
    list-style-type: none;

    .link {
      padding: 18px;
      display: block;
      border-bottom: 1px solid rgb(200, 233, 255);
    }

    .link:hover {
      padding-left: 10px;
      transition: all 0.3s;
      color: rgb(57, 137, 236);
    }
  }
}
