.wrapper {
  display: flex;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 6px;

  path {
    fill: var(--dark-50);
  }

  &:hover {
    background-color: var(--dark-20);
  }
}
