.wrapper {
  position: absolute;
  width: 210px;
  right: 14px;
  top: calc(100% - 12px);
  box-shadow: 0 0 12px 0 rgb(0 0 0 / 12%);
  z-index: 1;
}

.item {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 12px;

  &:hover {
    background-color: var(--gray-10);
  }
}
