.wrapper {
  display: flex;
  position: relative;
  background-color: var(--dark-100);
  padding: 16px;
  border-radius: var(--radius-md);
}

.loader {
  display: none;
  opacity: 0;
  z-index: 3;
  align-items: center;
  justify-content: center;
  inset: 0;
  position: absolute;
  transition: all var(--animation-duration) ease;
  background-color: rgba(var(--dark-100-rgb), 70%);
  border-radius: var(--radius-xl);
  color: var(--primary-100);
}

.show {
  opacity: 1;
  display: flex;
}

.loading {
  min-height: 500px;
}
