.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 1.5vw;

  .field label {
    margin-bottom: 0.521vw;
  }

  .Button {
    align-self: center;
    width: 100%;
    max-width: 31.25vw;
    background-color: rgb(var(--foreground-rgb));
  }
}