.wrapper {
  display: flex;
  padding: 4px 10px;
  border-radius: var(--radius-xs);
  font-size: 12px;
  line-height: 16px;
  width: fit-content;
  font-weight: 500;
}

.blue {
  background-color: var(--blue-10);
  color: var(--blue-100);
}

.green {
  background-color: var(--green-10);
  color: var(--green-100);
}

.orange {
  background-color: var(--orange-10);
  color: var(--orange-100);
}

.red {
  background-color: var(--red-10);
  color: var(--red-100);
}

.violet {
  background-color: var(--violet-10);
  color: var(--violet-100);
}

.white {
  background-color: rgba(var(--dark-80-rgb), 0.6);
  color: var(--white-100);
}

.dark {
  background-color: rgba(var(--dark-80-rgb), 0.6);
  color: var(--white-100);
}
