.wrapper {
  display: grid;
  margin-left: 90px;
  margin-right: 90px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);

  .photo_1,
  .photo_2,
  .photo_3,
  .photo_4 {
    margin: 10px 0;
  }
}
