.wrapper {
  display: flex;
  position: relative;
  width: 307px;
  height: 180px;
  border-radius: var(--radius-md);
  overflow: hidden;
}

.image {
  object-fit: cover;
  border-radius: var(--radius-md);
  width: 100%;
}

.remove {
  position: absolute;
  top: 3px;
  right: 3px;
  background-color: var(--white-100);
  border-radius: 50%;
  cursor: pointer;
}
